.buttonsSair {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: blue;
}


.button {
    -fx-background-color: blueviolet;
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    
}

.hBox{
    -fx-background-color: #ff6666; 
}

